/** Feauture Business Section Styles **/

.breadcrumb{
  font-size: 1.5rem;
  font-weight:600;
  display: inline-block;
  float: left;
  padding: 1rem 3rem 1rem 2rem;
}

.trail{
  margin-top: 10rem;
}

.breadcrumb-chevron{
  color: #333;
}


.line{
  margin-bottom: 2rem;
  margin-top: 0;
}

/** Feature Business article and info **/
.feature{
  max-width: 440px;
  max-height: 440px;
  float:left;
  border-radius: 18px;
  border: 8px solid #336666;
  box-shadow: 0 0 10px rgba(0,0,0,0.35);
}

.article-title{
  font-size: 1.75rem;
  font-weight: 600;
}

.article-sub-title{
  font-size: 1.5rem;
  padding-top: 1.5rem;
}

.feature-article{
  font-weight: 300;
  font-size: 1.25rem;
  padding-top: 1.5rem;
  text-align: justify;
  line-height: 3rem;
  letter-spacing:1.25px;
}

.article-biz-info{
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.sub-cat{
  padding-top: 1rem;
}

.biz-photo{
  margin-bottom: -6px;
  min-width: 100px;
}

.biz-name{
  font-size: 1.75rem;
  font-weight: 600;
  padding-top: 1.5rem;
}
.biz-listings{
  float:left;
  text-align: justify;
}

.listing-biz-name{
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.listing-biz-info1,
.listing-biz-info2,
.listing-biz-info3,
.listing-biz-info4{
  margin-bottom: 1rem;
  font-weight: 400;
  font-size: 1.25rem;
  color: rgba(51,51,51,0.75);
}

/** Sidebar advert placeholder**/

.advert-placeholder{
  float:right;
  border:2px solid #333;
  max-width: 200px;
  min-height:400px;
}

/** Become a Feature Business ad **/

.rotate-hover {
  position: relative;
  float: left;
  margin: 10px 1%;
  min-width: 250px;
  max-width: 400px;
  max-height: 400px;
  width: 100%;
  overflow: hidden;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0,0,0,0.15);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.rotate-hover img {
  opacity: 0.25;
  max-width: 100;
  position: relative;
  top: 0;
  left: 0;
}

.rotate-hover figcaption {
  position: absolute;
  top:50%;
  left: 30px;
  right: 30px;
  -webkit-transform: rotate(0deg) translateY(-50%) scale(1);
  transform: rotate(0deg) translateY(-50%) scale(1);
  -webkit-transform-origin: center 0;
  transform-origin: center 0;
}

.rotate-hover figcaption h5 {
  top: 50%;
  letter-spacing: 1px;
  font-family: 'Yatra One', serif;
  color: #fff;
  padding: 10px 0;
  margin: 0;
  font-weight: 400;
}

.rotate-hover figcaption:before,
.rotate-hover figcaption:after {
  background-color: rgba(255,255,255,0.8);
  width:100%;
  height: 2px;
  position: absolute;
  content: " ";
  display: block;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;

}

.rotate-hover figcaption:before {
  left: 0;
  top: 0;
}

.rotate-hover figcaption:after {
  bottom: 0;
  right: 0;
}

.rotate-hover.navy {
  background-color: #333366
}

.rotate-hover:hover img,
.rotate-hover.hover img {
  opacity: 1;
}

.rotate-hover:hover figcaption,
.rotate-hover.hover figcaption {
  -webkit-transform: rotate(-45deg) translateY(-50%) scale(0.9);
  translateY(-50%) scale(0.9);
  transform: rotate(-45deg) translateY(-50%) scale(0.9);
}

.rotate-hover:hover figcaption:before,
.rotate-hover.hover figcaption:before,
.rotate-hover:hover figcaption:after,
.rotate-hover.hover figcaption:after {
  width: 200%;
}

/** end of Feature Business ad **/

