/*************Table of Contents**************/

  /* Basic Colors
      black: #333;
      green: #336666;
      purple: #663366;

     Basic Type
     Main - font-family:'Open Sans','Helvetica, Sans-serif;
     Alt  - font-family: 'Oswald','Helvetica, Sans-serif;
  
  Sections
    - General
    - Typography
    - Page
    - Buttons
    - Card
    - Modules
    - Navigation


********************************************************************/

/* General Styles */

html,
body {
  font-family: 'Open Sans';
  color: #333;
  min-height: 100%;
  text-align: center;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

.header{
  margin: 1.5rem;
}

a {
  text-decoration: none;
}

li {
  text-decoration: none;
  list-style: none;
}

input.search-input{
  border: 1px solid rgba(51,51,51,0.5);
  font-weight: 300;
  padding: 2rem;
  margin:1rem;
}

/* Typography styles */

.text-inverse {
  color: #fff;
}

.light{
  font-weight: 300;
}

.title{
  padding: 4% 0 1% 0;
  font-weight: 600;
  letter-spacing: 1.5px;
}
 
 
.intro{
  font-size: 1.75rem;
  font-weight: 300;
  letter-spacing: 1.25px
}


/* Page Styles */

.page-section {
  padding: 20px 0;
  position: relative;
}

.page-section.page-section-purple-bg {
  background-color: #333366;
}

/* Card Styles for Categories */

.category-item {
  height:200px;
  width:200px;
}

.cat-item1 {
  background-image: url('..//assets/massage-crop.png');
}

.cat-item2 {
  background-image: url('..//assets/beauty-crop.png');
}

.cat-item3 {
  background-image: url('..//assets/tattoo-crop.png');
}

.cat-item4 {
  background-image: url('..//assets/fitness-crop.png');
}

.cat-item5 {
  background-image: url('..//assets/piercing-crop.jpg');
}

.cat-item6 {
  background-image: url('..//assets/hand-tat.png');
}

.cat-item7 {
  background-image: url('..//assets/body-paintingpng.png');
}

/* Card Styles */

.card {
  border-radius: 18px 18px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  overflow: hidden;
  position: relative;
}

.card-purple {
  border: 6px solid #663366;
}

.card-green {
  border: 6px solid #336666;
}

.card-link {
  display: block;
}

.card img {
  width: 100%;
}

.card-label {
  display: block;
  bottom: 0;
  left: 0;
  padding: 5px;
  overflow: hidden;
  background-attachment: fixed;
  position: absolute;
  width: 100%;
  border-radius: 0 0 12px 12px;
}

.card-label::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 0;
  width: 200%;
  height: 200%;
  background: inherit;
  background-attachment: fixed;
  -webkit-filter: blur(8px);
  filter: blur(8px);
}

.card-label::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.45);
  
}
.card-label-title {
  color: #fff;
  font-size: 1.75rem;
  font-weight: 300;
  margin-bottom: 0;
  letter-spacing: 1.5px;
  padding-top: .75rem;
  padding-bottom: 1rem;
  z-index: 1;
  position: relative;
}

/* Testimonial Card Style */

.testimonial-card {
  position:relative;
  padding: 30px;
  float: left;
  text-align: center;
  background:#663366; /* default background for browsers without gradient support */
  /* css3 */
  background:-webkit-gradient(linear, 0 0, 0 100%, from(#c26ec2), to(#663366));
  background:-moz-linear-gradient(#c26ec2, #663366);
  background:-o-linear-gradient(#c26ec2, #663366);
  background:linear-gradient(#c26ec2, #663366);
  /* Using longhand to avoid inconsistencies between Safari 4 and Chrome 4 */
  -webkit-border-top-left-radius:240px 140px;
  -webkit-border-top-right-radius:240px 140px;
  -webkit-border-bottom-right-radius:240px 140px;
  -webkit-border-bottom-left-radius:240px 140px;
  -moz-border-radius:240px / 140px;
  border-radius: 18px;
}


/******* Button Styles****/

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  font-family: "Oswald";
  display: inline-block;
  height: 24px;
  padding: 1rem 6rem 4rem 6rem;
  color: #336666;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  line-height: 3rem;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: white;
  border-radius: 16px;
  border: 3px solid #336666;
  cursor: pointer;
  box-sizing: border-box; }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #fff;
  border-color: #fff;
  background-color: #336666;
 }

/* sign up buttons */

.mid-signup {
  margin-bottom: 3rem;
}

.top-signup {
  margin: 1rem 0;
  padding: 1rem 2rem 4rem 2rem;
  float: right;
} 

/* How it Works Section specific Styles */

.how-it-works-list.arrows {
  position: relative;
  top: 50px;

}

.arrow-1,
.arrow-2,
.arrow-3 {
  position: absolute;
  width: 50px;
}

.arrow-1 {
  left: 22%;
}

.arrow-2 {
  left: 47%;
}

.arrow-3 {
  left: 73%;
}


.how-it-works-label {
  font-size: 2rem;
  padding: 2rem;
  margin: 2rem;
}

img.i-equal{
  margin-bottom: 24px;
}


/** Icon Images for works section ***/
.icon-heart {
  text-align: center;
  width: 20%;
  padding:3% 3% 7% 3%;
}

.icon-trophy {
  text-align: center;
  width: 20%;
  padding:3% 3% 7% 3%;
}

.icon-list{
  text-align: center;
  width: 20%;
  padding:3% 3% 7% 3%;
}

.icon-users{
  text-align: center;
  float: right;
  width: 20%;
  padding:5% 3% 7% 3%;
}

/****** Logo Styles  ********/


.top-logo{
  float: left;
}

.logo-bottom{
  float:right;
  margin: 0 -20% -1rem 0;
}

/** Categories Section specific styles **/

.categories{
  margin-top:10rem;
  clear: both;
}

/***Testimonial section css ***/
    /* image and border */


img.person{
  border: 4px solid #663366;
  border-radius:50%;
  box-shadow: 0 0 10px rgba(0,0,0,0.35);
  position: relative;
  overflow:hidden;
  max-width: 125px;
  margin-bottom: 1.5rem;
}

.name{
  font-weight:700;
  display: block;
  font-size: 1rem;
}

.shop{
  font-weight: 300;
  display: block;
  font-size: 1rem;
}

.quote{
  font-weight: 300;
  font-style: italic;
  line-height: 2.5rem;
}


/** Footer Styles **/

.footer{
  background-color: rgba(51,51,51,0.8);
}

/*** Bottom Nav ****/


.nav-item{
  color: #ffffff;
}

.each{
  padding:1rem 2rem 1rem 2rem;
  margin:1rem 2rem 1rem 2rem;
  display: inline-block;
}

.links{
  text-align: center;
  font-weight: 300;
  margin-bottom: 3rem;
  font-size: .85em;
  
}

/** Copyright style **/

.copy{
  text-align: left;
  margin: 0 0 1rem -10%;
  font-size: .75em;
  float: left;
  clear: both;
  padding: 0 0 1rem 1rem;
  font-weight: 300;
  color: rgba(255,255,255,0.7);
}



